body {
  padding: 0;
  margin: 0;
  font-family: Helvetica Neue;
  height: 100%;
  
}
.skewedBox {
  width: 100%;
  height: 200px;
  background: #707070;
  padding: 100px 0;
  transform: skew(0deg, 4deg) translateY(-120px);
}
.header {
  text-align: center;
  padding: 30px 300px;
  transform: skew(0deg, -4deg);
  color: #fff;
}
.titleTop {
  font: normal normal normal 24px Helvetica Neue;
  margin: 50px 0 0 0;
}
.title {
  font: normal normal bold 49px Helvetica Neue;
  margin: 0;
}
.paragraph {
  font: normal normal normal 18px Helvetica Neue;
}
.content {
  margin: 0 40px 0 40px;
  text-align: left;
  letter-spacing: 0px;
  color: #888888;
  opacity: 1;
  height: 160px;
}
li {
  list-style-type: none;
  display: inline;
  margin: 0 0 0 40px;
}
.card-container {    
  padding: 40px;
	margin: 0 auto;
}
.produtos {
  display: grid;
	grid-template-columns: repeat(2, minmax(250px, 1fr));
	grid-gap: 20px;
	padding-inline-start: 0;
}
.card-prod {
  background-color: #f2f2f2;
  list-style: none;
	padding: 40px;
	color: #222;
	text-align: center;
	border-radius: 10px;
	position: relative;
  margin: 0 10px 0 10px; 
  
  
   
}
.card-prod:hover {
	animation: bounce 0.5s linear;
}
@keyframes bounce {
	20% {
			transform: translateY(-6px);
	}
	40% {
			transform: translateY(0px);
	}

	80% {
			transform: translateY(-2px);
	}
	100% {
			transform: translateY(0);
	}
}
img {
  width: 200px;
  height: 150px;
  border: 1px solid #707070;
}
.card-title p {
  color: blue;
}
.card-strike {
  color: rgb(221, 17, 17);
}
.card-price {
  font-size: 24px;
}

.card {
  display: flex;
  justify-content: center;
}
.card-content {
  background-color: cornflowerblue;
  margin: 0 50px 0 0;
  width: 200px;
  height: 150px;
  border: 1px solid #707070;
  opacity: 1;
}
.card-products {
  background-color: coral;
  width: 200px;
  height: 150px;
  border: 1px solid #707070;
  opacity: 1;
}
.card-btn {
  width: 400px;
  height: 39px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 4px;
  opacity: 1;
  color: #888888;
  font-size: 16px;
  margin-bottom: 40px;
  font-family: Helvetica Neue;
  margin: 100px 100px;
  
}
.card-btn-more {
  text-align: center;
}
.card-btn a{
  text-decoration: none;
  color: #888888;
}
.card-btn a:hover {
  color: #888888;
}
/* ########## Footer ########## */

.footer {
  position:relative;
  overflow:hidden;
}
svg {
  width: 100%;
  fill: #707070;
  max-height: 50px;
  position: absolute;
  top:0; 
}
.footer-content {
  color: #fff;
  text-align: center;
  height: 210px;
  background: #707070;
  margin-top: 49px;
}
.parag { 
  padding: 40px;
}

